venv/
*/venv
.env
*/.env
__pycache__/
*.pyc
.pytest_cache/
*.log
*/lambda_layer
*/dist
*/scripts
lambda_layer/
dist/
scripts/
.zip
*.zip
__MACOSX/
._*
# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
